.header{
    max-width: 92%;
    margin: 0 auto;
    display: flex;
    max-height: 52px;
    justify-content: space-between;
}

@media screen and (max-width: 767px) {
    .header{
        max-height: 42px;
    }

}
