@font-face {
  src:
    url("./black/Inter-Black.woff2") format("woff2"),
    url("./black/Inter-Black.ttf") format("truetype"),
    url("./black/Inter-Black.otf") format("opentype");
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
}

@font-face {
  src:
    url("./bold/Inter-Bold.woff2") format("woff2"),
    url("./bold/Inter-Bold.ttf") format("truetype"),
    url("./bold/Inter-Bold.otf") format("opentype");
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
}

@font-face {
  src:
    url("./regular/Inter-Regular.woff2") format("woff2"),
    url("./regular/Inter-Regular.ttf") format("truetype"),
    url("./regular/Inter-Regular.otf") format("opentype");
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
}
